body {
    background-image: url('img/darktexture.png'); /* Bakgrunnsbilde */
    background-repeat: repeat; /* Gjentar bildet horisontalt og vertikalt */
    background-size: auto; /* Bruker bildets originale størrelse */
    color: #e4e4e4; /* Nesten-hvit tekst */
    font-family: Arial, sans-serif;
}

a {
    color: #10c610; /* Grønne lenker */
}

h1 {
    font-size: 2em;
}
